body.mce-content-body,
.elements-code-preview {
    .collapse:not(.show) {
        display: block !important;
    }
}

.elements-modal,
.elements-modal-no-preview {
    .modal-body {
        padding: 0;
    }
}

.elements-flavor-chip,
.elements-rail-item {
    /* Scope our buttons to opt out of Moodle/Bootstrap default button reset. */
    &,
    &:focus,
    &:active {
        box-shadow: none;
    }
}
